button a.active{
   /* text-decoration: none; */
   color: white;
   background-color: rgb(95, 11, 11);
   
}

.nav-container{
    padding: 10px;
    display: flex;
    justify-items: center;
    gap: 20px;
}